.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom,
        rgb(251, 194, 49) 0%,
        rgb(235, 158, 34) 100%
    );
}

.navbar_links {
    display: flex;
    gap: 175px;
    font-size: 32px;
}

.navbar_links a {
    text-decoration: none;
    color: white;
}

.navbar_links a:hover {
    color: rgb(211, 211, 211);
}