.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--nav-h);
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #eaaa00;
    z-index: 2000;
}


.navbar_links {
    display: flex;
    gap: 48px;
    font-size: 20px;
    padding: 0 24px;
    align-items: center;
}

.navbar_links a { text-transform: capitalize; }

.navbar_links a {
    text-decoration: none;
    color: white;
}

.navbar_links a:hover {
    color: rgb(211, 211, 211);
}